.no-hover {
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}


.success {
    color: $green;
}

.danger {
    color: $red;
}

.accent-b {
    color: $blue;
}

.accent-y {
    color: $yellow;
}

.muted {
    color: $glight;
}

.grey {
    color: $grey;
}