@import "../../../stylesheets/mixins.scss";
@import "../../../stylesheets/variables.scss";
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    text-decoration: none;
  }
}

html, body, .wrapper {
  min-height: 100vh;
}

body {
  background: $body-bg-color;
  color: $color-base;
  font-family: $font-family-base;
  font-size: $font-size-base;
  cursor: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

.wrapper {
  width: $max-content-width;
  min-width: $min-content-width;
  margin: 0 auto;
}
