.container.page_home
    h3
        span.accent-b Languages
        a.grey(ui-sref='home({q=detailsCtrl.owner})') &nbsp; | &nbsp; {{detailsCtrl.owner}} &gt; {{detailsCtrl.repo}} 
    .row.content
        h4 
        .col-sm-3.col-xs-12
            canvas#myChart(width="200", height="200")
