/*
 * Colors
 * ========================================================================== */

$white:                 #fff;
$gdark: #495057;
$grey: #868E96;
$glight: #CED4DA;
$glightest: #F8F9FA;
$blue: #329AF0;
$red: #FA5252;
$yellow: #FAB005;
$green: #40C057;


$color-base:            $gdark;
$link-color:            $blue;
$body-bg-color:         $glightest;


/*
 * Typography
 * ========================================================================== */
$Lato-font:        'Lato', sans-serif;

$font-family-base:      $Lato-font;

$font-size-base:        16px;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     100%;
$min-content-width:     320px;

